/* Reset global values except unicode-bidi, direction CSS Custom properties */
{
all: unset;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
}

#PERBEZZAN table, th, td {
	border: 1px solid black;
} 