/* Reset global values except unicode-bidi, direction CSS Custom properties */

{
all: unset;
}

body {
	background-color: white;
	max-width: 512px;
	margin: auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.diff table,th,td {
	width: 100%;
	border: 1px solid black;
	text-align: center;
	padding: 5px;

}

.diff td:nth-child(1n) {
	text-align: left;
}

.diff td:nth-child(2n) {
	text-align: center;
}

.diff td:nth-child(3n) {
	text-align: center;
}

.dirs table,th,td {
	width: 10%;
	text-align: center;
	padding: 5px;
}

.dirs td:nth-child(even) {
	text-align: left;
}



p.prompt{
	color: black;
	border: 1px solid black;
	padding: 5px;
}


figure figcaption {
	text-align: center;

}

footer img {
	display: 
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}
